@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
    --scarlet: #ff220c;
    --space-cadet: #1c1f33;
    --maize: #FFF689;
    --aquamarine: #00FFCD;
    --header-height: 3rem;
    --font-archivo: 'Archivo Black', sans-serif;
    --font-noto: 'Noto Sans Mono', monospace;
    --font-tilt: 'Tilt Warp', cursive;
    --h2-font-size: 4rem;
    --h3-font-size: 2rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;

}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

.content {
    display: grid;
    grid-template-rows: repeat(5, auto);
}

header {
    grid-row: 1;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--scarlet);
}

main {
    grid-row: 2;

    height: 100%;
    width: 100%;
    background-color: var(--scarlet);

}

.test-container {
    display: grid;
    grid-template-rows: auto auto auto;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.hello {
    font-size: 2vw;
    font-family: var(--font-tilt);
    height: fit-content;
    padding-left: 2.8vw;
}

.my-name {
    display: flex;
    flex-direction: column;
    line-height: 5vw;

    text-align: center;
    font-family: var(--font-archivo);
    font-size: 8vw;

    -webkit-text-stroke: 2px black;


    color: var(--scarlet);
    transition: .3s ease-in-out;
    cursor: default;
}

.my-name:hover {
    color: black;
}

.fullstack {
    text-align: end;
    font-size: 2vw;
    font-family: var(--font-noto);
    /* color: #f0eff4; */

}

.sidebar {
    z-index: 5;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -3rem;
}

.about-me {
    grid-row: 3;

    top: 100vh;
    height: 100vh;
    width: 100vw;
    background-color: var(--scarlet);

    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 6rem;

}

.about-me>.container {
    min-width: 30rem;
    max-width: 60rem;
    height: 100%;
}

[class $="title"] {
    font-family: var(--font-archivo);
}

h2 {
    font-size: var(--h2-font-size);

}

h3 {
    font-size: var(--h3-font-size);
}

p {
    font-family: var(--font-noto);
}

.projects {
    display: flex;
    justify-content: center;
    grid-row: 4;
    background-color: var(--scarlet);

}

.projects>.container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 80%;

}

.projects-title {
    text-align: center;
}

.cards-wrapper {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: row;
    padding-top: 1rem;

}


[class^="card-"] {
    border: 2px solid black;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;

}

.thumbnail {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-info {
    background-color: black;
    display: grid;
    padding: .5rem;
    grid-row: auto 1fr auto;

}

.project-name {
    color: var(--maize);
}

.summary {
    color: var(--aquamarine);
}

.project-info>.links {
    display: flex;
    justify-content: end;
    color: var(--aquamarine);
    gap: 10px;

}

.links>p {
    cursor: pointer;
}

.contact {
    grid-row: 5;
    height: 40rem;

    display: flex;
    justify-content: center;
}

.contact-container {
    min-width: 30rem;
    max-width: 60rem;
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;

}

.contact-title {
    text-align: end;
}

.contact-container>.links {
    display: grid;
    grid-template-columns: auto 1fr;
}

.socials {
    display: flex;
    flex-direction: column;
}

#email {
    text-decoration: none;
    color: black;
    font-family: var(--font-noto);
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: -8px;
}

.selection {
    cursor: pointer;
    left: 1rem;
    height: 1.5rem;
    width: 100px;
    transform-style: preserve-3d;
    transform: rotateY(0) rotateX(0);
    transition: .3s ease-in-out;
}

.selection:hover {
    transform: rotateY(8deg) rotateX(8deg);
}

.selection:active {
    transition: 0s none;
    transform: rotateY(6deg) rotateX(6deg);
}



.side {
    position: absolute;
    width: 100%;
}

.front {
    height: 100%;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    border: 1px solid black;
    transform: translateZ(50px);
    background-color: var(--scarlet);

}

.left {
    height: 100%;
    transform: translateX(-50%) rotateY(90deg);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--scarlet);
}


.bottom {
    height: 400%;
    transform: translateY(-25.5%) rotateX(90deg);
    border-right: 1px solid black;
}

ul {
    padding: 8px;
}

li {
    list-style-type: none;
}